<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ekosp.indoweb.epesantren">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name="com.ekosp.indoweb.epesantren.App"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/epesantren_no_label"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/epesantren_no_label"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.ekosp.indoweb.epesantren.uploadingpdf.UploadMainActivity" />
        <activity android:name="com.ekosp.indoweb.epesantren.pdfactivity.PdfActivity" />
        <activity android:name="com.ekosp.indoweb.epesantren.uploadpdfaditya.UploadActivity" />

        <activity android:name="com.ekosp.indoweb.epesantren.laporan.LaporanWeb" />
        <activity android:name="com.ekosp.indoweb.epesantren.ijin.IjinActivity" />
        <activity android:name="com.ekosp.indoweb.epesantren.laporan.KehadiranTahunanActivity" />
        <activity android:name="com.ekosp.indoweb.epesantren.AfterAbsen" />
        <activity android:name="com.ekosp.indoweb.epesantren.upload.UploadImage" />
        <activity android:name="com.ekosp.indoweb.epesantren.locator.MyLocationActivity" />
        <activity android:name="com.ekosp.indoweb.epesantren.MainActivity" />
        <activity android:name="com.ekosp.indoweb.epesantren.LoginActivity" />
        <activity android:name="com.ekosp.indoweb.epesantren.LoginPonpesActivity" />
        <activity
            android:name="com.ekosp.indoweb.epesantren.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>