<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ekosp.indoweb.adminsekolah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name="com.ekosp.indoweb.adminsekolah.utils.App"
        android:allowBackup="true"
        android:icon="@drawable/logoadminsekolah"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logoadminsekolah"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.JadwalPelajaranActivity" />
        <activity android:name=".ui.izin.IjinPelajaranActivity" />
        <activity android:name=".ui.izin.IjinActivity" />
        <activity android:name=".ui.laporan.PelajaranTahunanActivity" />
        <activity android:name=".ui.laporan.KehadiranTahunanActivity" />
        <activity android:name=".ui.absen.AfterAbsen" />
        <activity android:name=".ui.absen.UploadImagePelajaran" />
        <activity android:name=".ui.absen.UploadImage" />
        <activity android:name=".ui.absen.MyLocationActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.LoginPonpesActivity" />
        <activity
            android:name=".ui.SplashScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>